$color_base: #1c2742;
$color_dark: #161f36;
$color_darker: #131a29;
$color_light: #0291d4;
$color_font: #bdc5db;

$btn_default_color: #8997b3;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
