      <div class="social-icons">
        <div class="icon"><a href="http://makeitreal.camp/?utm_source=convertloop&utm_medium=email&utm_campaign=make-it-real"><img src="https://s3.amazonaws.com/makeitreal/email-assets/iconMirEmail.png" alt="Make it Real" style="width: 22px;"></a></div>
        <div class="icon"><a href="https://www.facebook.com/makeitrealcamp/"><img src="https://s3.amazonaws.com/makeitreal/email-assets/facebook.png" alt="Facebook"></a></div>
        <div class="icon"><a href="https://twitter.com/makeitrealcamp"><img src="https://s3.amazonaws.com/makeitreal/email-assets/twitter.png" alt="Twitter"></a></div>
        <div class="icon"><a href="https://www.youtube.com/channel/UCcHBDdSPzOaWMsLFyO_HJYw"><img src="https://s3.amazonaws.com/makeitreal/email-assets/youtube.png" alt="Youtube"></a></div>
      </div>
    </div>
    <div class="footer">
      Make it Real es una marca de La Nueva Educación SAS. Nit. 900.752.738-8. Medellín, Colombia.
    </div>
  </div>
</div>
