<%- include('header') -%>
<p>Hola,</p>

<p>Reestablecer tu contraseña haciendo click en el siguiente enlace:</p>

<p><a href="<%= host %>/passwords/reset?token=<%= token %>">Reestablecer contraseña</a></p>

<p>Cordial saludo,</p>

<p>Equipo de Make it Real</p>
<%- include('footer') -%>
