<%- include('header') -%>
<p>Hola,</p>

<p>Bienvenid@ al curso de <strong>Fundamentos en Desarrollo Web</strong>. Inicia ahora haciendo click en el siguiente enlace:</p>

<p><a href="<%= host %>/account/activate?token=<%= token %>">Ingresar al curso</a></p>

<p>Cordial saludo,</p>

<p>Equipo de Make it Real</p>
<%- include('footer') -%>
